<div class="home-page">
    <div class="search-bar search-bar-home">
        <input type="text" name="searchWord" id="searchWord" placeholder="Dig whaterver you want..."
               ng-model="searchWord"/>
        <button class="go-btn" ng-click="searchByKeyword()"></button>
    </div>
</div>
<div class="content" ng-show="showContent">
    <!--<div class="content">-->
    <div class="trend">
        <div class="row">
            <div class="col-md-6">
                <label>Start Date:</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="startDate"
                           value="{{startDate}}"
                           is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                           ng-change="changeDate()"
                           close-text="Close"
                           alt-input-formats="altInputFormats"/>
          <span class="input-group-btn">
            <button type="button" class="btn" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>

            <div class="col-md-6">
                <label>End Date:</label>
                <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup ng-model="endDate"
                           ng-change="changeDate()"
                           is-open="popup2.opened"
                           datepicker-options="dateOptions" ng-required="true" close-text="Close"/>
          <span class="input-group-btn">
            <button type="button" class="btn" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
                </p>
            </div>
            <!--<div class="col-md-2">-->
            <!--<button class="go-btn" ng-click="searchByDate()"></button>-->
            <!--</div>-->
        </div>

        <div class="row">
            <div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Trending
                        <!--<div class="datetime-area">-->
                        <!--<a href="#" class="datetime-text">weekly</a>-->
                        <!--<a href="#" class="datetime-text">quarterly</a>-->
                        <!--<a href="#" class="datetime-text">annually</a>-->
                        <!--</div>-->
                    </div>

                    <div class="panel-body">
                        <canvas height="25" width="55" id="line" class="chart chart-line" chart-options="options"
                                chart-data="data"
                                chart-labels="labels" chart-legend="true" chart-colours="['#FFFFFF']"
                                chart-series="series"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <hr/>
        <div class="row">
            <div class="col-md-3">
                <div class="sentimental-block">
                    <div class="img" ng-show="isNegative">
                        <img src="../images/Sea/negative.png"/>
                    </div>
                    <div class="img" ng-show="isNeutral">
                        <img src="../images/Sea/neutral.png"/>
                    </div>
                    <div class="img" ng-show="isPositive">
                        <img src="../images/Sea/positive.png"/>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="sentimental-block" id="gridChart">
                </div>
            </div>
            <div class="col-md-4">
                <div class="sentimental-block" id="pieChart"></div>
            </div>
        </div>
        <hr/>
        <div class="row keyword-detail">
            <h3>Keywords</h3>
            <div class="detail-tabs">
                <button class="detail-tab" ng-click="showTrending()">Trending</button>
                <button class="detail-tab" ng-click="hideTrending()">Links</button>
            </div>
        </div>
        <div class="row" ng-show="!showLinks">
            <!--<div id="analysisChart" style="width:100%;height: 700px"></div>-->
            <div id="analysisChart" style="width:100%;height: 700px"></div>
        </div>

        <div class="row links" ng-show="showLinks">
            <div class="left-category">
                <div ng-repeat="(key,value) in groupColorMap" class="category-item" ng-click="activeCategory(key)">
                    <div ng-if="showCategory == key">
                        <div class="color-span" style='background:{{value}}'></div>
                        <div class="category-text">{{key}}</div>
                    </div>
                    <div ng-if="!(showCategory == key)">
                        <div class="color-span"></div>
                        <div class="category-invalid">{{key}}</div>
                    </div>

                </div>
            </div>
            <div class="right-links">
                <div ng-repeat="(key,value) in descriptions" style="color: wheat">
                    <!--<li ng-repeat="item in description.topComments">-->
                    <p class="detail-page" ng-click="showMeDetail(key)" ng-show="myDetailPage !== key"><span
                            style="padding-right: 20px"> {{$index+1}}</span>{{value}}</p>
                    <p ng-click="showMeDetail('')" class="showDetailInfo" ng-show="myDetailPage == key"><span
                            style="padding-right: 20px"> {{$index+1}}</span>{{value}}</p>
                    <!--</li>-->
                </div>
            </div>
        </div>

    </div>
</div>